@media screen and (max-width: 767px) {

  /* header */
 
  header {
    width: 300px;
  }

  /* main */
  
  .main-left {
    width: 100px;
  }
  .item1 {
    width: 125px;
  }
  .item2 {
    width: 125px;
  }
  .main-right-wrap1-right {
    width: 75px;
  }
  .main-right-wrap2 {
    width: 200px;
  }

  /* footer */

  footer {
    width: 300px;
  }
}