@media screen and (max-width: 479px) {

  /* header */

  header {
    width: 200px;
    height: 200px;
  }
  .header-items {
    display: block;
    right: 70px;
  }
  .header-items:first-child {
    border: none;
    border-top: #fff solid 10px;
  }
  .header-item {
    border: none;
    border-left: #fff solid 10px;
    border-right: #fff solid 10px;
    border-bottom: #fff solid 10px;
  }

  /* main  */

  main {
    display: block;
  }
  .main-left {
    width: 200px;
    height: 100px;
  }
  .main-right {
    width: 200px;
    height: 210px;
  }
  .main-right-items {
    top: 20px;
    left: 30px;
    bottom: 20px;
  }
  .main-right-item {
    width: 130px;
  }

  /* footer  */

  footer {
    width: 200px;
  }

}