* {
  margin: 0px;
  padding: 0px;
}

/* header */

header {
  position: relative;
  background-color: #141f40;
  width: 400px;
  height: 100px;
}
.header-items {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
}
.header-items:first-child {
  border-left: #fff solid 10px;
}
.header-item {
  background-color: #a9004b;
  width: 40px;
  height: 40px;
  border-top: #fff solid 10px;
  border-right: #fff solid 10px;
  border-bottom: #fff solid 10px;
}

/* main */

main {
  display: flex;
  width: 400px;
}
.main-left {
  background-color: #80bfa8;
  width: 150px;
  height: 250px;
}
.main-right {
  background-color: #8c2727;
  width: 250px;
  height: 250px;
  position: relative;
}
.main-right-items {
  position: absolute;
  top: 40px;
  left: 40px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-right-item {
  background-color: #ff863f;
  width: 140px;
  height: 40px;
  border: #fff solid 5px;
}

/* footer */

footer {
  background-color: #d98d30;
  width: 400px;
  height: 100px;
}